// COLOR VARIABLES
$color-cream: #D0E069;
$color-blue: #112EA3;
$color-red: #CA494E;
$color-gray: #E8E7E7;

// FONT VARIABLES

$font-clamp: clamp(1.2rem, 1.5vw, 1.5vw);
$hero-clamp: clamp(1.3rem, 7vw, 5rem)
