html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    //background-color: red;
   @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

   font-family: 'Montserrat', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.card {
   padding: 1rem 0.5rem;
    //background-color: red !important;
}

.swiper {
    width: 100%;
    height: 100%;
    margin-bottom: 3rem;

    &-pagination {
        bottom: 0 !important;
    }
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    //align-items: flex-start !important;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grad {
    background-image: linear-gradient(
        to right bottom,
        #fdba74,
        #1a1a2d
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

//Animations

@keyframes moveInLeft {
    0% {
        opacity: 0.2;
        transform: translateX(-1rem);
    }
    80% {
        opacity: 0.5;
        transform: translateY(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(8rem);
    }
    80% {
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    60% {
        opacity: 0.4;
        transform: translateX(-4rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes MoveOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    // 80% {
    //     opacity: 0.5;
    //     transform: scale(1.1);
    // }
    100% {
        opacity: 1;
        transform: translateX(-13rem);
    }
}

@keyframes MoveOutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    60% {
        opacity: 0.5;
        transform: translateX(8rem);
    }
    100% {
        opacity: 0;
        transform: translateX(13rem);
    }
}

.animateMoveInLeft {
    animation: MoveOutLeft 0.5s ease;
    width: 25rem;
    transform: translateX(-13rem);

    @media screen and (max-width: 768px) {
        box-shadow: 0 0 0 100vmax #1a1a2d;
        clip-path: inset(0 -100vmax);
        padding: 4rem 0;
    }
}
.animateMoveOutRight {
    //animation: MoveOutRight 0.5s ease-in-out;
    width: 100%;
    transform: translateX(0);
}

.slideInLeft {
    animation: moveInLeft 0.5s ease;
}

.animateTop {
    animation: moveInBottom 1s ease-in-out;
}
.animateBottom {
    animation: moveInTop 1s cubic-bezier(0.46, 0.03, 0, 1.49);
}

.animateLeft {
    animation: moveInLeft 0.5s ease-in;
}
.animateRight {
    animation: moveInRight 0.5s ease-in;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    appearance: none;
}

.transaction-table {
    thead{
       height: 3rem;
       border-bottom: 1px solid #62615e99;
    }

    tbody{

        tr {
            border-radius: 5rem;
            border-bottom: .2px solid #62615e7d;
            
            & > * {
                padding: .4rem 1rem;
            }
        }
    }
    // td:nth-child(even),
    // th:nth-child(even) {
    //     background-color: #62615e99;
    //     //color: #1a1a2d;
    // }

    .tableSelect{
        outline: none;
        padding: 1rem;
        border-radius: .5rem;
        cursor: pointer;

    }
}

.routeLink {
    

    label{
        //transition: background 0.2s ease-in;
        padding: .5rem 1rem;
        border-radius: 3rem;
        border: 1px solid #cacbcc;
        transform: scale(0.8);
    }

    input[type='radio'] {
        display: none;
    }
    input[type='radio']:checked + label{
        background-color: #3b81f7;
        transform: scale(1.2);
        font-weight: 500;
        box-shadow: 2px 2px 10px #3b81f7;
    }

}

.withdrawalDialog{
    width: 100%;
    background: transparent;

    &::backdrop{
        background: rgba(26, 26, 45, 0.375);
        backdrop-filter: blur(10px);
    }
}
