.footer {
    position: relative;

    &__blob {
        position: absolute;
       right: 2rem;
                background: $color-red;
                width: 200px;
                height: 80%;
                display: grid;
        z-index: 2;
    }

    &__content {
        z-index: 3;
        display: grid;
        justify-content: center;
        justify-items: center;
        align-content: flex-end;
        padding: 2rem 0;
        position: relative;
        // height: 5rem;
        width: 100%;
        // margin-top: 3rem;
        background: linear-gradient(
            rgba($color-blue, 0.2),
            rgba($color-red, 0.2)
        );
        border-radius: 0 0 10px 10px;
        backdrop-filter: blur(5px);
    }

    &__links {
        display: flex;
        list-style: none;
        justify-content: space-between;
        width: 20rem;
        
        &--item {
            cursor: pointer;
            font-size: 2.5rem;
            color: black;
            opacity: 0.5;
            transition: all .5s ease-in;

            &:hover {
                opacity: 1;
                transform: scale(1.1);
            }
        }

        &--item-active {
            color: black;
            opacity: 1;
        }
    }

    &__contracts {
        display: flex;
        justify-content: space-around;
        width: 100%;

        a:link,
        a:visited,
        a:hover {
            text-decoration: none;
            color: black;
            opacity: 0.6;
            font-size: 1rem;
        }
    }

    &__copyright {
        color: black;
        opacity: 0.6;
        font-size: 1rem;
    }
}

// .footer__isBlog {
//     & > * {
//         color: black !important;
//     }

//     background-color: black;

//     svg {
//         color: black;
//     }

//     a {
//         color: black !important;
//     }
// }
