.profile{
    background: $linear-gradient-blue;
    width: 100vw;
    height: 100vh;
    display: grid;
    position: relative;
    justify-items: center;
    align-items: center;

    &__box{
        position: absolute;
        width: 90%;
        height: 90%;
        //justify-self: center;
       // align-self: center;
        background: $color-gray;
    }
}